@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
    color: var(--White);
}

:root{
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(216, 12%, 54%);
    --Medium-Grey: hsl(217, 10%, 25%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue:hsl(216, 12%, 8%);
}



.background{
    width: 100vw;
    height: 100vh;
    background: var(--Very-Dark-Blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    background: var(--Dark-Blue);
    border-radius: 25px;
    padding: 2rem;
    width: 425px;
    justify-content: center;

    
}

.star{
    display: flex;
    margin: 0 0 2rem 0;
    background: var(--Medium-Grey);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 24px;
}

p{
    color: var(--Light-Grey);
    margin: 1rem 1.2rem 1.5rem 0 ;
    line-height: 1.5rem;
}

.rating{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 3rem 0;
    align-items: center;
    
    
}

.rating-number{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: var(--Medium-Grey);
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.rating-number.active{
    background-color: var(--Orange);
}

.rating-number:hover{
    background-color: var(--Orange);
}

#submit{
    display: flex;
    background: var(--Orange);
    border-radius: 25px;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

#submit:hover{
    background-color: var(--White);
    color: var(--Orange);
    
}

.container2{
    display: none;
    flex-direction: column;
    background: var(--Dark-Blue);
    border-radius: 25px;
    padding: 2rem;
    width: 425px;
    justify-content: center;
    align-items: center;
}

.selected{
    color: var(--Orange);
    background: var(--Medium-Grey);
    border-radius: 25px;
    padding: 7px 15px 7px 15px;
    margin: 2rem 0 2rem 0;
}
.thank-paragraph{
    text-align: center;
    margin: 1rem 12px 0 12px;
}

.error{
    font-size: 10px;
    color: rgb(230, 41, 41);
    margin: 0;
    text-align: center;
}